/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2020, 9:43:32 AM
    Author     : dpank
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

.root
{
    -fx-background-color: #CBF9FF;
}

.cardPane
{
    -fx-background-color: #FFFFF8;
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-radius: 8px;
    -fx-border-color: #C4CCFF;
}

.topPane
{
    -fx-background-color: #58CFFF;
}

.circle{
    -fx-background-radius: 150;
    -fx-pref-width: 150;
    -fx-pref-height: 150;
    -fx-background-color: #58CFFF;
    -fx-background-image: url("stats.png");
    -fx-background-size: 100% 100%;
    
    
}

.circle:hover{
    -fx-background-color: #b3ffcc;
    
}


.buttonLogOut:hover{
    -fx-background-color: #3366ff;
    
}

.btn
{
    -fx-background-color: #58CFFF;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    
}
#btnConfirmStudents{
    -fx-alignment: TOP_CENTER;
    -fx-background-color: #58CFFF;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-fill-height: true;
    
    
}
.btn2:hover
{
    -fx-border-style: solid;
    -fx-border-color: #58CFFF;
}

.mainFont
{
    -fx-font-size: 20px;
    -fx-font-family: 'Merriweather';
    -fx-text-fill: black;
}

.adjustableFont
{
    -fx-font-family: 'Merriweather';
    -fx-text-fill: black;
}

.panePass
{
    -fx-background-color: #80d2d8;
}

.lblpassword
{
    -fx-font-size: 14px;
    -fx-font-family: 'Cabin';
    -fx-text-fill: black;
}

.generatorCard
{
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.btnOverviewPic
{
    -fx-background-color: #FFFFF8;
    -fx-background-radius: 8px;
}


